:root {
	--bg-charcoal: #1A1A1A;
	--pale-gray: #dfe6e9;
}

html {
  height: 100%;
}

body {
	background-color: var(--bg-charcoal);
	border: 1px solid var(--pale-gray); 
	box-shadow: 0 0 0 20px var(--bg-charcoal);
	color: var(--pale-gray);
	margin: 20px;
	min-height: 96vh; /* Expands past 100% naturally if text/content pushes it */
  	height: auto; 
}

h1,
h2,
h3 {
	font-family: "Space Grotesk", sans-serif;
	text-transform: uppercase;
}

p {
	font-family: "Helvetica", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}