:root {
	--bg-charcoal: #1A1A1A;
	--pale-gray: #dfe6e9;
}

html {
  height: 100%;
}

body {
	background-color: var(--bg-charcoal);
	border: 1px solid var(--pale-gray); 
	box-shadow: 0 0 0 20px var(--bg-charcoal);
	color: var(--pale-gray);
	margin: 20px;
	min-height: 96vh; /* Expands past 100% naturally if text/content pushes it */
  	height: auto; 
}

nav {
	background-color: var(--bg-charcoal);
	border-bottom: 1px solid var(--pale-gray); 
	padding: 0 20px;
}

nav .brand-logo {
	display: inline-flex;
}

.logo-text {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: -1px;
	margin-left: 10px;
}

nav a {
	color: var(--pale-gray);
	font-family: "Space Grotesk", sans-serif;
	text-transform: uppercase;
}

nav ul li {
	border-left: 1px white solid;
	float: right;
}

nav ul a {
	font-size:12px;
}

#a {
	width:50px;
}

h1,
h2,
h3 {
	font-family: "Space Grotesk", sans-serif;
	text-transform: uppercase;
}

p {
	font-family: "Helvetica", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}