html {
  height: 100%;
}

body {
	background-color: #1e272e;
	border: red 10px solid;
	color: #dfe6e9;
	margin: 0;
	min-height: 100%; /* Expands past 100% naturally if text/content pushes it */
  	height: auto; 
}